.app{
  border-top: 15px solid #d7e7f5;
  border-left: 15px solid #d7e7f5;
  border-right: 15px solid #d7e7f5;
  height: 92vh;
}

.header{
  background: #0060bf;
  height: 8vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
}

li {
  list-style: none;
}

.app-left{
  border-radius: 5px;
  width: 47vw;
  padding-left: 15px;
  height: 90vh;
  border: 1px solid lightgray;
  border-bottom: none;
  padding-top: 30px;
  padding-right: 15px;
}
